{% load static %}                                                                                                             
<!DOCTYPE html>                                                                                                               
<html lang="en">                                                                                                            
  <head>                                                                                                                      
    <meta charset="UTF-8" />                                                                                                
    <title>后台管理</title>                                                                                                       
    <!-- https://v3.bootcss.com/ -->                                                                                          
    <link                                                                                                                     
      rel="stylesheet"                                                                                                      
      href="{% static "plugins/bootstrap-3.4.1/css/bootstrap.min.css" %}"                                                   
    />                                                                                                                        
    <!-- https://fontawesome.dashgame.com -->                                                                                 
    <link                                                                                                                     
      rel="stylesheet"                                                                                                      
      href="{% static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" %}"                                             
    />                                                                                                                        
                                                                                                                              
    {% block css %}{% endblock %}                                                                                             
                                                                                                                              
    <style>                                                                                                                   
      .navbar {                                                                                                               
        border-radius: 0px;                                                                                                   
      }                                                                                                                       
    </style>                                                                                                                  
  </head>                                                                                                                     
                                                                                                                              
  <body>                                                                                                                      
    <!--html从这里开始写 -->                                                                                                        
    <!--class="container" 可以让内容居中 ; class="container-fluid" 让内容顶格 -->                                                     
    <!--铺满的导航条, 如果想让导航内容居中显示, 可以把 container-fluid 改为container-->                                                              
    <nav class="navbar navbar-inverse">                                                                                     
      <div class="container-fluid">                                                                                         
        <!--class="container" 可以让内容居中 ; class="container-fluid" 让内容顶格 -->                                                 
        <!-- Brand and toggle get grouped for better mobile display -->                                                       
        <div class="navbar-header">                                                                                         
          <button                                                                                                             
            type="button"                                                                                                   
            class="navbar-toggle collapsed"                                                                                 
            data-toggle="collapse"                                                                                          
            data-target="#bs-example-navbar-collapse-1"                                                                     
            aria-expanded="false"                                                                                           
          >                                                                                                                   
            <span class="sr-only">Toggle navigation</span>                                                                  
            <span class="icon-bar"></span>                                                                                  
            <span class="icon-bar"></span>                                                                                  
            <span class="icon-bar"></span>                                                                                  
          </button>                                                                                                           
          <a class="navbar-brand" href="/index/">Home</a>                                                                 
        </div>                                                                                                                
                                                                                                                              
        <!-- Collect the nav links, forms, and other content for toggling -->                                                 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                                          
          <ul class="nav navbar-nav">                                                                                       
            <li class="">                                                                                                   
              <a href="/v_admin/list/"                                                                                      
                >管理员<span class="sr-only">(current)</span></a                                                               
              >                                                                                                               
            </li>                                                                                                             
            <li class="">                                                                                                   
              <a href="/order/list/"                                                                                        
                >工单管理<span class="sr-only">(current)</span></a                                                              
              >                                                                                                               
            </li>                                                                                                             
            <li>                                                                                                              
              <a target="" href="/chart/list/">数据统计</a>                                                                   
            </li>                                                                                                             
            <ul class="nav navbar-nav navbar-right">                                                                        
              <li class="dropdown">                                                                                         
                <a                                                                                                            
                  href="#"                                                                                                  
                  class="dropdown-toggle"                                                                                   
                  data-toggle="dropdown"                                                                                    
                  role="button"                                                                                             
                  aria-haspopup="true"                                                                                      
                  aria-expanded="false"                                                                                     
                  >dropdown<span class="caret"></span                                                                         
                ></a>                                                                                                         
                <ul class="dropdown-menu">                                                                                  
                  <li>                                                                                                        
                    <a                                                                                                        
                      target="_blank"                                                                                       
                      href="#"                                            
                      >Link</a                                                                                         
                    >                                                                                                         
                  </li>                                                                                                       
                  <li>                                                                                                        
                    <a                                                                                                        
                      target="_blank"                                                                                       
                      href="#"                                        
                      >Link</a                                                                                       
                    >                                                                                                         
                  </li>                                                                                                       
                  <li>                                                                                                        
                    <a                                                                                                        
                      target="_blank"                                                                                       
                      href="#"                                                  
                      >Link</a                                                                                     
                    >                                                                                                         
                  </li>                                                                                                       
                  <li role="separator" class="divider"></li>                                                              
                  <li><a href="#">link</a></li>                                                                             
                </ul>                                                                                                         
              </li>                                                                                                           
            </ul>                                                                                                             
                                                                                                                              
            <li>                                                                                                              
              <a target="" href="#">Link</a>                                                                              
            </li>                                                                                                             
            <li>                                                                                                              
              <a target="" href="#">Link</a>                                                                              
            </li>                                                                                                             
          </ul>                                                                                                               
          <ul class="nav navbar-nav navbar-right">                                                                          
            <li class="dropdown">                                                                                           
              <a                                                                                                              
                href="#"                                                                                                    
                class="dropdown-toggle"                                                                                     
                data-toggle="dropdown"                                                                                      
                role="button"                                                                                               
                aria-haspopup="true"                                                                                        
                aria-expanded="false"                                                                                       
                >{{request.session.info.username }}<span class="caret"></span                                               
              ></a>                                                                                                           
              <ul class="dropdown-menu">                                                                                    
                <li><a href="#">个人资料</a></li>                                                                               
                <li><a href="#">我的信息</a></li>                                                                               
                <li><a href="#">Something else here</a></li>                                                                
                <li role="separator" class="divider"></li>                                                                
                <li><a href="/logout/">注销</a></li>                                                                          
              </ul>                                                                                                           
            </li>                                                                                                             
          </ul>                                                                                                               
        </div>                                                                                                                
        <!-- /.navbar-collapse -->                                                                                            
      </div>                                                                                                                  
      <!-- /.container-fluid -->                                                                                              
    </nav>                                                                                                                    
    <div class="" id="">                                                                                                  
      <!--这里只放了2个div, 第二个div中含有container,内容会居中显示 -->                                                                          
      <!--如果想顶格显示可以改为container-fluid -->                                                                                      
      {% block content %}{% endblock %}                                                                                       
    </div>                                                                                                                    
                                                                                                                              
    <!-- https://jquery.com/ -->                                                                                              
    <script src="{% static "js/jquery-3.6.1.min.js" %}"></script>                                                           
    <!-- https://jquery.com/ 引入bootstrap的js -->                                                                               
    <script src="{% static "plugins/bootstrap-3.4.1/js/bootstrap.min.js" %}"></script>                                      
    {% block js %}{% endblock %}                                                                                              
  </body>                                                                                                                     
</html>                                                                                                                       
                                                                                                                              
